.kanban-board {
  padding: 0px;
  background-color: #f4f5f7;
  max-width: 100%;
  margin: 0 auto;
}

.kanban-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.kanban-column {
  border-radius: 8px;
  padding: 15px;
  width: calc(25% - 20px); /* Four columns per row */
  min-width: 250px;
  max-width: 300px; /* Increase the max-width */
  flex-grow: 1;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .kanban-column {
    width: calc(33.33% - 20px); /* Three columns per row on medium screens */
  }
}

@media (max-width: 768px) {
  .kanban-column {
    width: calc(50% - 20px); /* Two columns per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .kanban-column {
    width: calc(100% - 20px); /* One column per row on extra small screens */
  }
}

.kanban-column-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
